.header {
  height: 70px;
  background: cadetblue;
  text-align: center;
  line-height: 70px;
  margin: 0 50px;
}

.header_content {
  font-size: 30px;
  font-weight: bold;
}

.nav {
  height: 450px;
  margin: 0 50px;
  border: 1px solid black;
  display: flex;
}

.nav_left {
  width: 30%;
  height: 100%;
  background: darkorchid;
  border: 1px solid black;
}

.nav_right {
  width: 70%;
  height: 100%;
  background: blanchedalmond;
  border: 1px solid black;
}

.footer {
  height: 70px;
  background: darkgoldenrod;
  text-align: center;
  line-height: 70px;
  margin: 0 50px;
  border: 1px solid black;
}
